<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragment/head"></head>
<body themebg-pattern="theme6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-bar"></div>
</div>
<!-- [ Pre-loader ] end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- [ Header ] start -->
        <nav th:include="fragment/header" class="navbar header-navbar pcoded-header">
        </nav>
        <!-- [ Header ] end -->

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- [ navigation menu ] start -->

                <div th:if="${menu}" th:include="fragment/menu/menu" th:with="menu_list=${menu},disabledMenu=${disabledMenu}" th:remove="tag"/>
                <!-- [ navigation menu ] end -->
                <div class="pcoded-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i th:if="${page != null && page.icon != null}" class="feather bg-c-blue" th:classappend="${page.icon}"></i>
                                    <div class="d-inline" th:if="${page}">
                                        <h3 th:text="${page.title}"></h3>
                                        <span th:text="${page.subTitle}"></span>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div th:include="fragment/breadcrumb" class="page-header-breadcrumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- [ page content ] start -->
                                    <div th:if="${action} == edit" class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="title">Titre</label>
                                            <input type="text" class="form-control" id="title" placeholder="" value=""
                                                   required>
                                            <div class="invalid-feedback">
                                                Le titre est requis
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div th:if="${page}" class="card-header">
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i
                                                                    class="feather icon-chevron-left open-card-option"></i>
                                                            </li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><a th:href="${url} + '/edit'"><i
                                                                    class="feather icon-edit edit-card"></i></a></li>
                                                            <li>
                                                                <i class="feather icon-chevron-left open-card-option"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div th:if="${action == 'index'}" class="card-block" th:include="fragment/home"></div>
                                                <div th:if="${action!= 'index'}" class="card-block">
                                                    <div id="formio" class="card-block"></div>

                                                    <button th:if="${action} != read" id="submit"
                                                            class="btn btn-primary">Enregistrer
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ page content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ style Customizer ] start -->
                <div id="styleSelector"></div>
                <!-- [ style Customizer ] end -->
            </div>
        </div>
    </div>
</div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div th:include="fragment/ie-warning" class="ie-warning"></div>
<![endif]-->

<div th:include="fragment/footer" th:remove="tag"/>

<script th:if="${action} == read" type="text/javascript">
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), [(${page.schema})], {}).then(function (builder) {
        builder.url = '[(${#httpServletRequest.requestURL})]';
        builder.nosubmit = false;
        builder.submission = {
            data: [(${datafile})]
        };
    });

</script>
<script th:if="${action} == edit" type="text/javascript">
    $(document).ready(function () {
        $("#submit").prop('disabled', true);
        let formio;
        const schema = [(${page.schema})];

        Formio.builder(document.getElementById("formio"), schema, {}).then(function (builder) {
            builder.on('saveComponent', function () {
                $("#submit").prop('disabled', false);
                formio = builder.schema;
            });
        });

        $("#submit").click(function () {
            $.ajax
            ({
                    type: 'POST',
                    url: '/page',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    timeout: 1000,
                    data: JSON.stringify({
                        'id': '[[${page.id}]]',
                        'name': '[[${page.name}]]',
                        'module': {'name': '[[${module.name}]]', 'label': $("#label").val()},
                        'title': ('[[${page.title}]]' == '') ? $("#title").val() : '[[${page.title}]]',
                        'subTitle': ('[[${page.subTitle}]]' == '') ? $("#subTitle").val() : '[[${page.subTitle}]]',
                        'schema': JSON.stringify(formio).toString()
                    }),
                    complete: function () {
                        window.location.href = '[(${url})]';
                    }
                }
            );
        });
    });
</script>

</body>
</html>
