<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Admindek | Admin Template</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css">

    <!-- Favicon icon -->
    <link rel="icon" th:src="@{img/favicon.ico}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <!-- Required Fremwork -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >

    <!-- waves.css -->
    <link rel="stylesheet" href="http://fian.my.id/Waves/static/waves.min.css" type="text/css" media="all">
    <!-- icon icon -->
    <link rel="stylesheet" type="text/css" th:href="@{icon/feather.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <script src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js"></script>
</head>

<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-bar"></div>
</div>
<!-- [ Pre-loader ] end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- [ Header ] start -->
        <nav th:include="fragment/header" class="navbar header-navbar pcoded-header[header-theme="theme6"]>
        </nav>
        <!-- [ Header ] end -->

        <div  class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- [ navigation menu ] start -->

                <nav class="pcoded-navbar">
                    <div class="nav-list" th:include="fragment/menu"  th:with="menu_list=${menu_list}"  >
                    </div>
                </nav>
                <!-- [ navigation menu ] end -->
                <div class="pcoded-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="feather bg-c-blue" th:classappend="${page.icon}"></i>
                                    <div class="d-inline">
                                        <h3 th:text="${page.title}"></h3>
                                        <span th:text="${page.subTitle}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div th:include="fragment/breadcrumb" class="page-header-breadcrumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- [ page content ] start -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>                                                                 <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div id="formio" class="card-block"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ page content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ style Customizer ] start -->
                <div id="styleSelector">
                </div>
                <!-- [ style Customizer ] end -->
            </div>
        </div>
    </div>
</div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div th:include="fragment/ie-warning" class="ie-warning"></div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


<!-- waves js -->
<script src="http://fian.my.id/Waves/static/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>

<script src="https://colorlib.com/polygon/admindek/files/assets/js/pcoded.min.js"></script>
<script src="https://colorlib.com/polygon/admindek/files/assets/js/vertical/vertical-layout.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="https://colorlib.com/polygon/admindek/files/assets/js/script.min.js"></script>

<script>
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), [(${page.schema})], {
        readOnly: true,
        //    viewAsHtml: true
    });

</script>


</body>
</html>
