<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="pcoded-navbar">
    <div class="nav-list"  >

<div class="pcoded-inner-navbar main-menu">

    <div class="pcoded-navigation-label" >Navigation</div>
    <ul class="pcoded-item pcoded-left-item">
        <li >
            <a href="/" class="waves-effect waves-dark">
                <span class="pcoded-micon"><i class="feather icon-search"></i></span>
                <span class="pcoded-mtext">Ouvrir un dossier patient</span>
            </a>
        </li>
    </ul>

    <ul class="pcoded-item pcoded-left-item" th:each="module : ${menu_list}">
        <li class="pcoded-hasmenu" >

            <a href="javascript:void(0)"  class="waves-effect waves-dark" >
                <span class="pcoded-micon"><i class="feather" th:classappend="${module.icon != null} ? ${module.icon} : ''"></i></span>
                <span class="pcoded-mtext" th:text="${module.label}"></span>
            </a>

                <ul class="pcoded-submenu">
                    <li th:each="page : ${module.pages}">
                        <a th:href="'/page/' + ${module.name} + '/' + ${page.name}">
                            <span class="pcoded-mtext" th:text="${page.title}"></span>
                        </a>
                    </li>
                </ul>


        </li>
    </ul>
</div>
    </div>
</nav>
</html>
