    <div th:fragment="submenu" th:remove="tag">
        <ul class="pcoded-submenu" >
            <li th:each="submenu : ${menu.children}" th:class="${!submenu.children.empty || submenu.children == null }? pcoded-hasmenu : ''" >
                <a th:href="@{(${submenu.page} != null AND ${submenu.page} != '' ? ${submenu.page} : 'javascript:void(0)')}"
                   class="waves-effect waves-dark">
                    <span class="pcoded-mtext" th:text="${submenu.label}"></span>
                </a>
                <div  th:with="menu = ${submenu}"
                      th:include=":: submenu" th:remove="tag" />
            </li>
        </ul>
    </div>