<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="submenu" th:remove="tag">
    <ul class="pcoded-submenu">
        <li th:each="submenu : ${menu.children}"
            th:class="${!submenu.children.empty && submenu.children != null } ? pcoded-hasmenu">
            <a th:href="@{ (${submenu.page} != null ) ?  '/page/' + ${submenu.page.module.name} + '/' + ${submenu.page.name} : 'javascript:void(0)'}">
                <span class="pcoded-mtext" th:text="${submenu.label}"></span>
            </a>
            <div th:with="menu = ${submenu}" th:include="::submenu" th:remove="tag"/>
        </li>
    </ul>
</div>
</html>
